.todoForm {
  /* Sample */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todoForm>input {
  /* Sample */
  width: 80%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}
.todoForm>button {
  /* Sample */
  width: 20%;
  height: 50px;
  border : none;
  color: rgb(40,128,171);
  font-size: 40px;
  outline: none;
}